<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(PCAANN.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            ColorOptions = new()
            {
                Primary = ThemeService.Instance().Primary,
                Secondary = ThemeService.Instance().Secondary,
                Success = ThemeService.Instance().Success,
                Info = ThemeService.Instance().Black,
                Warning = ThemeService.Instance().Warning,
                Light = ThemeService.Instance().White,
                Dark = ThemeService.Instance().Dark,
            },
            BackgroundOptions = new()
            {
                Primary = ThemeService.Instance().Primary,
                Secondary = ThemeService.Instance().Secondary,
                Success = ThemeService.Instance().Success,
                Info = ThemeService.Instance().Black,
                Warning = ThemeService.Instance().Warning,
                Light = ThemeService.Instance().White,
                Dark = ThemeService.Instance().Dark,
            },
            InputOptions = new()
            {
                CheckColor = ThemeService.Instance().Primary,
            },
            TextColorOptions = new()
            {
                Primary = ThemeService.Instance().Primary,
                Secondary = ThemeService.Instance().Secondary,
                Success = ThemeService.Instance().Success,
                Info = ThemeService.Instance().Black,
                Warning = ThemeService.Instance().Warning,
                Light = ThemeService.Instance().White,
                Dark = ThemeService.Instance().Dark,
            },
        };
}